.u-section-1 .u-sheet-1 {
  min-height: 3336px;
}

.u-section-1 .u-text-1 {
  font-size: 2.125rem;
  font-weight: 700;
  margin: 53px auto 0 15px;
}

.u-section-1 .u-icon-1 {
  width: 1126px;
  height: 2890px;
  margin: 69px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  --radius: 10px;
  background-image: none;
  font-size: 1rem;
  margin: 104px auto 60px;
  padding: 8px 70px 8px 69px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2859px;
  }

  .u-section-1 .u-icon-1 {
    width: 940px;
    height: 2413px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2294px;
  }

  .u-section-1 .u-icon-1 {
    width: 720px;
    height: 1848px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1832px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-icon-1 {
    width: 540px;
    height: 1386px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-left: -1px;
  }

  .u-section-1 .u-icon-1 {
    width: 340px;
    height: 873px;
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 0 13px 0 11px;
  }
}