.u-section-1 .u-sheet-1 {
  min-height: 496px;
}

.u-section-1 .u-text-1 {
  font-size: 2.125rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 82px auto 0 21px;
}

.u-section-1 .u-text-2 {
  font-size: 2.125rem;
  font-weight: 700;
  margin: -54px 43px 0 618px;
}

.u-section-1 .u-form-1 {
  height: 412px;
  margin: 4px 73px 0 610px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --radius: 5px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -319px 725px 60px 21px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 461px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 483px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 546px;
    margin-left: 0;
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 241px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 326px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 61px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 83px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 146px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-left: -37px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -26px;
    margin-right: -183px;
    margin-left: 183px;
  }

  .u-section-1 .u-form-1 {
    height: 335px;
    margin-top: 0;
    margin-right: -37px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 0.75rem;
    margin-top: -306px;
    margin-right: 37px;
    margin-left: -37px;
  }
}