.u-section-1 .u-sheet-1 {
  min-height: 505px;
}

.u-section-1 .u-text-1 {
  font-size: 2.125rem;
  font-weight: 700;
  margin: 20px auto 0 18px;
}

.u-section-1 .u-text-2 {
  font-size: 1.0625rem;
  margin: 18px 0 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 521px;
}

.u-section-2 .u-image-1 {
  width: 391px;
  height: 521px;
  margin: 0 auto 0 179px;
}

.u-section-2 .u-image-2 {
  width: 391px;
  height: 521px;
  margin: -521px 179px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -50px auto 0 359px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -38px 337px 12px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 296px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 278px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 227px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 213px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 149px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 149px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-left: 170px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-right: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-2 .u-image-1 {
    width: 170px;
    height: 200px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 170px;
    height: 200px;
    margin-top: -200px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -26px;
    margin-left: 74px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -26px;
    margin-right: 60px;
    margin-bottom: 0;
  }
}